FLASK_SECRET_KEY=change-me-to-a-random-string
ADMIN_PASSWORD=change-this-admin-password


# MySQL connection: mysql+pymysql://<user>:<password>@<host>/<database>
DATABASE_URL=mysql+pymysql://root:password@127.0.0.1:3306/bloodapp
```


---